*{
    font-family: sans-serif;
    border: none;
    padding: 0.25em;
    margin: 0.25em;
  }

button:hover {
    border: solid .01em rgb(0, 0, 0);
  }


main{
    background: #c6c5c5;
    border: solid .01em rgb(0, 0, 0);
  }

h1 {
    border-bottom: thin black solid;
  }
  
section {
  background: #eeeeee;
  padding: 0.25em;
  margin-bottom: 0.5em;
}

footer {
    font-size: .75em;
    clear: both;
    width: 100%;
    text-align: center;
}