*{
    font-family: sans-serif;
    border: medium dashed #117532;
    padding: 0.25em;
    margin: 0.25em;
  }
  
p {
    border: none;
  }
  
span {
    border: medium dashed #b3a592;
    margin: 0.25em;
  }

footer {
    font-size: .75em;
    clear: both;
    width: 100%;
    text-align: center;
}