*{
    font-family: sans-serif;
  }

body {
  background:rgb(94, 97, 99);
  display:flex;
  flex-direction:column;
  min-width: 375px;
}

button:hover {
    border: solid .01em rgb(0, 0, 0);
  }


main{
    flex: 1 calc(100vh - 110px);
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(196, 161, 118);
  }
  
section {
  padding: 0.25em;
  margin-bottom: 0.5em;
}

footer {
    flex: 0 30px;
}

footer a{
  float:right;
}