*{
    font-family: sans-serif;
  }

body {
  background:rgb(94, 97, 99);
  display:flex;
  flex-direction:column;
  min-width: 375px;
}

main{
    flex: 1 calc(100vh - 110px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color:rgb(196, 161, 118);
  }
  
.players{
  flex: 1;
  width: 100%;
  padding: 0.5em;
}

.player-name{
  color:rgb(178, 195, 210);
}

.game{
  display: flex;
  background: rgb(53, 52, 52);
  border-radius:50%;
  box-shadow: 0 0 20px 5px rgb(0, 0, 0);
  width: 80vw;
  height: 80vw;
  position: absolute;
  min-width: 350px;
  min-height: 350px;
  max-width: min(80vmin, 1000px);
  max-height: min(80vmin, 1000px);
}

.button-container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap:20px;
}

.btn-top-left {
  border-radius: 100% 0 0 0;
  margin: 15px 0 0 15px;
  /* background-color: rgb(138, 60, 226);
  border: thick solid rgba(87, 31, 140, 0.3); */
}

.btn-top-right {
  border-radius: 0 100% 0 0;
  margin: 15px 15px 0 0 ;
  /* background-color: rgb(43, 168, 226);
  border: thick solid rgba(31, 140, 140, 0.733); */
}

.btn-btm-left {
  border-radius: 0 0 0 100%;
  margin:  0 0 15px 15px;
  /* background-color: rgb(118, 196, 49);
  border: thick solid rgba(42, 131, 36, 0.733);*/
}

.btn-btm-right {
  border-radius: 0 0 100% 0;
  margin: 0 15px 15px 0 ;
  /* background-color: rgb(207, 122, 41);
  border: thick solid rgba(116, 78, 22, 0.733); */
}

.controls {
  position: absolute;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: rgb(53, 52, 52);
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.game-name {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.scoreboard {
  position: absolute;
  text-align: center;
  font-size: 20px;
  font-family: monospace;
  font-weight: bold;
  color: red;
  cursor: default;
  width: 50px;
  height: 30px;
  border-radius: 10px;
  border: solid thin rgb(117, 0, 0);
  background-color: #300;
}

.center {
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

footer {
    flex: 0 30px;
}

footer a{
  float:right;
}

@media (max-height: 600px) {
  header {
    display: none;
  }
  footer {
    display: none;
  }
  main {
    flex: 1 100vh;
  }
}